@using CuentasporPagar.Models.EF;

@{
    ViewBag.Title = "Proceso de Cuentas por Pagar";
}

<h2>@ViewBag.Title</h2>

<div style="max-width:500px;">
    @(Html.EJ().Grid<CxPProceso>("Grid")
                                                        .Datasource(ds => ds.URL(@Url.Content("~/CXPProceso/DSCXPProceso")).Adaptor(AdaptorType.UrlAdaptor))
                                                        .EnableAltRow()
                                                        .MinWidth(120)
                                                        .AllowScrolling()
                                                        .IsResponsive(true)
                                                        .EnableResponsiveRow(true)
                                                        .ScrollSettings(col => { col.Width("100%").Height("auto"); })
                                                        .ToolbarSettings(toolBar =>
                                                            toolBar.ShowToolbar()
                                                            .CustomToolbarItems(new List<object>() {
new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Agregar" },
new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Editar" },
new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Eliminar" }
                                                            })
                                                            .ToolbarItems(items =>
                                                            {
                                                            }))
                                                        .Locale("es-CO")
                                                        .PageSettings(p => { p.PageCount(7).PageSize(25); })
                                                        .AllowPaging()
                                                        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
                                                        .AllowFiltering()
                                                        .AllowSorting()
                                                        .Columns(col =>
                                                        {
                                                            col.Width(100).Field("NitProveedor").HeaderText("NIT Proveedor").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("NombreProveedor").HeaderText("Nombre Proveedor").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("EmailProveedor").HeaderText("Email").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("NPedidoSAP").HeaderText("Número SAP").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("NFactura").HeaderText("Nùmero Factura").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("FechaRadicacion").HeaderText("Fecha de Radicado").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("FechaMaxRadicacion").HeaderText("Fecha Máx. Radicado").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("FechaFactura").HeaderText("Fecha Factura").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("Valor").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("ValorTotal").HeaderText("Total").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("Moneda").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("CategorizacionFactura").HeaderText("Categorización").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("Observaciones").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("CentroCosto").HeaderText("Centro de Costo").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("CuentaContable").HeaderText("Cuenta Contable").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("IdArea").HeaderText("Area").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("FechaEntrega").HeaderText("Fecha Entrega").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("NombreRecibido").HeaderText("Recibido por").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("FechaRecepcion").HeaderText("Fecha Recepción").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("NHojaServicio").HeaderText("Número Hoja de Servicio").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Width(100).Field("Estado").HeaderText("Status").HeaderTextAlign(TextAlign.Center).Add();
                                                            col.Field("IdCxPProceso").Visible(false).Add();
                                                        })
                                                        .ClientSideEvents(eve => eve.Create("Create").ToolbarClick("TBClick"))
    )
    <script type="text/x-jsrender" id="Agregar">
        <a id="aCustomLib" class="iconCus">
            <img width="14" src='@Url.Content("~/Content/img/add.svg")' />
        </a>
    </script>
    <script type="text/x-jsrender" id="Editar">
        <a id="aCustomLib" class="iconCus">
            <img width="16" src='@Url.Content("~/Content/img/edit.svg")' />
        </a>
    </script>
    <script type="text/x-jsrender" id="Eliminar">
        <a id="aCustomLib" class="iconCus">
            <img width="14" src='@Url.Content("~/Content/img/delete.svg")' />
        </a>
    </script>
</div>

<div class="alineadoCentro">
    <div id="myModal" class="modalu">
        <div class="fondomodal">
        </div>
        <div class="modal-dialogu">
            <div class="modal-content fondoBody">
                <div class="modal-header">
                    <button id="cerrarModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Agregar CxPProceso</h4>
                </div>
                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td>
                                <label>NIT Proveedor</label>
                            </td>
                            <td>
                                <input id="nNitProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Nombre Proveedor</label>
                            </td>
                            <td>
                                <input id="nNombreProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Correo Electrónico</label>
                            </td>
                            <td>
                                <input id="nEmailProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Area</label>
                            </td>
                            <td>
                                <input id="nIdArea" type="hidden" />
                                <input id="nArea" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Centro de Costo</label>
                            </td>
                            <td>
                                <input id="nIdCentroCosto" type="hidden" />
                                <input id="nCentroCosto" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Cuenta Contable</label>
                            </td>
                            <td>
                                <input id="nIdCuentaContable" type="hidden" />
                                <input id="nCuentaContable" class="ctext" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Save()" data-dismiss="modal">Aceptar</button>
                    <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modalu">
        <div class="fondomodal">
        </div>
        <div class="modal-dialogu">
            <div class="modal-content fondoBody">
                <div class="modal-header">
                    <button id="cerrarModal2" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Editar CxPProceso</h4>
                </div>
                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td>
                                <label>NIT Proveedor</label>
                            </td>
                            <td>
                                <input id="uNitProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Nombre Proveedor</label>
                            </td>
                            <td>
                                <input id="uNombreProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Correo Electrónico</label>
                            </td>
                            <td>
                                <input id="uEmailProveedor" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Area</label>
                            </td>
                            <td>
                                <input id="uIdArea" type="hidden" />
                                <input id="uArea" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Centro de Costo</label>
                            </td>
                            <td>
                                <input id="uIdCentroCosto" type="hidden" />
                                <input id="uCentroCosto" class="ctext" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Cuenta Contable</label>
                            </td>
                            <td>
                                <input id="uIdCuentaContable" type="hidden" />
                                <input id="uCuentaContable" class="ctext" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Update()" data-dismiss="modal">Aceptar</button>
                    <button id="cancelModal2" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal3" class="modalu">
        <div class="fondomodal">
        </div>
        <div class="modal-dialogu">
            <div class="modal-content fondoBody">
                <div class="modal-header">
                    <button id="cerrarModal3" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Eliminar Concepto</h4>
                </div>
                <div class="modal-body">
                    Esta seguro de eliminar el registro seleccionado
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Delete()" data-dismiss="modal">Aceptar</button>
                    <button id="cancelModal3" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Carga = 0;
    var urlNuevo = '@Url.Content("~/CXPProceso/NuevoPaso1")';
    var urlEdita = '@Url.Content("~/CXPProceso/Editar")';
    var urlElimina = '@Url.Content("~/CXPProceso/Eliminar")';
    var idCC = "";

    function TBClick(args) {
        if (args.itemIndex == "0" && args.itemName == "Agregar") {
            $("#nNitProveedor").val('');
            $("#nNombreProveedor").val('');
            $("#nEmailProveedor").val('');
            $("#nArea").val('');
            $("#nCentroCosto").val('');
            $("#nCuentaContable").val('');
            $("#nCuentaContable").attr("disabled", "disabled");
            $("#myModal").css("display", "block");
        }
        if (args.itemIndex == "1" && args.itemName == "Editar") {
            if (args.model.selectedRowIndex != "-1") {
                $("#uNitProveedor").val(args.model.selectedRecords[0].NitProveedor);
                $("#uNombreProveedor").val(args.model.selectedRecords[0].NombreProveedor);
                $("#uEmailProveedor").val(args.model.selectedRecords[0].EmailProveedor);
                $("#uIdArea").val(args.model.selectedRecords[0].IdArea);
                $("#uCentroCosto").val(args.model.selectedRecords[0].CentroCosto);
                $("#uCuentaContable").val(args.model.selectedRecords[0].CuentaContable);
                idCC = args.model.selectedRecords[0].IdCxPConcepto;
                $("#myModal2").css("display", "block");
            } else {
                $("#LblMsg").text("No se ha seleccionado ningún registro");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }
        if (args.itemIndex == "2" && args.itemName == "Eliminar") {
            if (args.model.selectedRowIndex != "-1") {
                idCC = args.model.selectedRecords[0].IdCxPConcepto;
                $("#myModal3").css("display", "block");
            }
            else {
                $("#LblMsg").text("No se ha seleccionado ningún registro");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }
    }

    function Save() {
        var continuar = true;

        if ($("#nNitProveedor").val() == "") {
            continuar = false;
            $("#LblMsg").text("El campo 'NIT Proveedor' es obligatorio");
            $("#myModMsg").css("display", "block");
            $("#myModMsg").css("z-index", "999");
        }

        if (continuar) {
            if ($("#nNombreProveedor").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Nombre Proveedor' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nEmailProveedor").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Correo Electrónico' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nArea").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Area' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nCentroCosto").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Centro de Costo' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nCuentaContable").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Cuenta Contable' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            $.ajax({
                type: "POST",
                url: urlNuevo,
                data: { NitProveedor: $("#nNitProveedor").val(), NombreProveedor: $("#nNombreProveedor").val(), EmailProveedor: $("#nEmailProveedor"), IdArea: $("#nIdArea"), CentroCosto: $("#nIdCentroCosto"), CuentaContable: $("#nIdCuentaContable") },
                cache: true,
                dataType: 'json',
                success: function (result) {
                    if (result.result == "OK") {
                        gridObj = $("#Grid").data("ejGrid");
                        gridObj.refreshContent();
                        $("#myModal").css("display", "none");
                    } else {
                        $("#LblMsg").text(result.result);
                        $("#myModMsg").css("display", "block");
                    }
                }
            });
        }
    }

    function Update() {
        var continuar = true;

        if ($("#uNitProveedor").val() == "") {
            continuar = false;
            $("#LblMsg").text("El campo 'NIT Proveedor' es obligatorio");
            $("#myModMsg").css("display", "block");
            $("#myModMsg").css("z-index", "999");
        }

        if (continuar) {
            if ($("#uNombreProveedor").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Nombre Proveedor' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#uEmailProveedor").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Correo Electrónico' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#uArea").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Area' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#uCentroCosto").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Centro de Costo' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#uCuentaContable").val() == "") {
                continuar = false;
                $("#LblMsg").text("El campo 'Cuenta Contable' es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            $.ajax({
                type: "POST",
                url: urlEdita,
                data: { IdCxPProceso: idCC, NitProveedor: $("#uNitProveedor").val(), NombreProveedor: $("#uNombreProveedor").val(), EmailProveedor: $("#uEmailProveedor"), IdArea: $("#uIdArea"), CentroCosto: $("#uIdCentroCosto"), CuentaContable: $("#uIdCuentaContable") },
                cache: true,
                dataType: 'json',
                success: function (result) {
                    if (result.result == "OK") {
                        gridObj = $("#Grid").data("ejGrid");
                        gridObj.refreshContent();
                        $("#myModal2").css("display", "none");
                    } else {
                        $("#LblMsg").text(result.result);
                        $("#myModMsg").css("display", "block");
                    }
                }
            });
        }
    }

    function Delete() {
        $.ajax({
            type: "POST",
            url: urlElimina,
            data: { Id: idCC },
            cache: true,
            dataType: 'json',
            success: function (result) {
                if (result.result == "OK") {
                    gridObj = $("#Grid").data("ejGrid");
                    gridObj.refreshContent();
                    $("#myModal3").css("display", "none");
                } else {
                    $("#LblMsg").text(result.result);
                    $("#myModMsg").css("display", "block");
                }
            }
        });
    }
</script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $("#myModal").draggable({
        handle: ".modal-header"
    });
    $("#cerrarModal").click(function () {
        $("#myModal").css("display", "none");
    });
    $("#cancelModal").click(function () {
        $("#myModal").css("display", "none");
    });

    $("#myModal2").draggable({
        handle: ".modal-header"
    });
    $("#cerrarModal2").click(function () {
        $("#myModal2").css("display", "none");
    });
    $("#cancelModal2").click(function () {
        $("#myModal2").css("display", "none");
    });

    $("#myModal3").draggable({
        handle: ".modal-header"
    });
    $("#cerrarModal3").click(function () {
        $("#myModal3").css("display", "none");
    });
    $("#cancelModal3").click(function () {
        $("#myModal3").css("display", "none");
    });

    var AutoCentroCosto = '@Url.Content("~/Proceso/CentroCostoComplete")';
    var AutoCuentaContable = '@Url.Content("~/Proceso/CuentaContableComplete")';
    var AutoArea = '@Url.Content("~/Proceso/AreaComplete")';

    $(document).ready(function () {
        $("input:text").focus(function () { $(this).select(); });
        $("#nCentroCosto").autocomplete({
            source: function (request, response) {
                $("#nIdCentroCosto").val('');
                $("#nCuentaContable").attr("disabled", "disabled");
                $.ajax({
                    url: AutoCentroCosto,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CCCODE + ' - ' + item.CCDESC, id: item.CCCODE };
                        }))
                    }
                })
            },
            focus: function (event, ui) {
                $("#nCentroCosto").val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $("#nCentroCosto").val(ui.item.label);
                $("#nIdCentroCosto").val(ui.item.id);
                $("#nCuentaContable").removeAttr("disabled");
                return false;
            },
            change: function (event, ui) {
                if ($("#nIdCentroCosto").val() == "") {
                    $("#nCentroCosto").val('');
                }
                return false;
            }
        });
        $("#nCuentaContable").autocomplete({
            source: function (request, response) {
                $("#nIdCuentaContable").val('');
                $.ajax({
                    url: AutoCuentaContable,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term, CC: $("#nCentroCosto").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CCDESC, id: item.CCCODE2 };
                        }))
                    }
                })
            },
            focus: function (event, ui) {
                $("#nCuentaContable").val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $("#nCuentaContable").val(ui.item.label);
                $("#nIdCuentaContable").val(ui.item.id);
                return false;
            },
            change: function (event, ui) {
                if ($("#nIdCuentaContable").val() == "") {
                    $("#nCuentaContable").val('');
                }
                return false;
            }
        });
        $("#nArea").autocomplete({
            source: function (request, response) {
                $("#nIdArea").val('');
                $.ajax({
                    url: AutoArea,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Descripcion, id: item.IdPanelAsistArea };
                        }))
                    }
                })
            },
            focus: function (event, ui) {
                $("#nArea").val(ui.item.label);
                $("#nIdArea").val('');
                return false;
            },
            select: function (event, ui) {
                $("#nArea").val(ui.item.label);
                $("#nIdArea").val(ui.item.id);
                return false;
            },
            change: function (event, ui) {
                if ($("#nIdArea").val() == "") {
                    $("#nArea").val('');
                }
                return false;
            }
        });
    })
</script>