
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div id="tituloMenu" style="display:none;">Cuentas Por Pagar</div>
    <div id="cssmenu">
        <ul id="menu">
            <li>
                <a>
                    @*<img id="ImgEmpresa" alt="Logo Empresa" border="0" src="~/Content/img/brinsalogo.svg" />*@
                </a>
            </li>
            @if (SessionManager.Get<CuentasporPagar.Models.EF.RCAU>("VarUsuario") != null)
            {
                <li>@Html.ActionLink("Asistentes", "Index", "CXPAsistentes")</li>
                <li>@Html.ActionLink("Conceptos", "Index", "CXPConcepto")</li>
                <li>@Html.ActionLink("Regimen", "Index", "CXPRegimen")</li>
                <li>@Html.ActionLink("Tasas", "Index", "CXPTasas")</li>
                <li>@Html.ActionLink("Impuestos", "Index", "CXPImpuestos")</li>
                <li>@Html.ActionLink("Procesos", "Index", "CXPProceso")
                    <ul>
                        <li>@Html.ActionLink("Prueba", "Index", "Prueba")</li>
                        <li>@Html.ActionLink("Generar Factura", "Factura", "CXPProceso")</li>
                        <li>@Html.ActionLink("Entrega Factura", "Entrega", "CXPProceso")</li>
                        <li>@Html.ActionLink("Agregar Hoja de Servicios", "HojaServicio", "CXPProceso")</li>
                        <li>Paso 6 en construcción</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Salir", "LogOff", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account")</li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</body>
</html>

